**/misc
*.nc
**/data
**/docs
**/figures
./notebooks/multisite/data
./notebooks/multisite/output
*.png
*.mapbox_token
notebooks/multisite/nrcs_sntl.csv
notebooks/SPLASH_notebooks/radsys_attributes.txt
