**/misc
*.nc
**/data
**/docs
**/figures
./notebooks/multisite/data
./notebooks/multisite/output
*.png
*.mapbox_token
notebooks/multisite/nrcs_sntl.csv
notebooks/SPLASH_notebooks/radsys_attributes.txt
ASO*
UER*
PRISM*
**/cache
notebooks/Upper_CO_Analysis/basin_characteristics/Colorado_River_Basin_Rivers.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/et_table.csv
notebooks/Upper_CO_Analysis/basin_characteristics/gz_2010_us_040_00_20m.json
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_all_basin_polygons.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_1.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_2.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_larger_basin_polygons_2.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_small_basin_polygons.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/prism_precip.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_merged_gages.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_snotels.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_stations.json
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_upsample.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_SNOTEL_locations.json
notebooks/Upper_CO_Analysis/basin_characteristics/Upper_Colorado_River_Basin_Boundary.json
notebooks/Upper_CO_Analysis/basin_characteristics/et_table.csv
notebooks/East_River_Analysis/et_2018.gif
notebooks/East_River_Analysis/precip_2018.gif
notebooks/subset_M2TMNXLND_5.12.4_20221219_203407_.txt
notebooks/Upper_CO_Analysis/ucrb_hcdn_co_gdf_final.json
notebooks/Upper_CO_Analysis/ucrb_hcdn_co_polygons_final.json
notebooks/Upper_CO_Analysis/ucrb_hcdn_huc4.json
notebooks/Upper_CO_Analysis/ucrb_hcdn_seasonal_prism_anomalies.csv
notebooks/Upper_CO_Analysis/ucrb_hcdn_stations.json
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_all_basin_polygons.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_1.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_2.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_larger_basin_polygons_2.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/hcdn_small_basin_polygons.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_merged_gages.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_snotels.qmd
notebooks/Upper_CO_Analysis/grace/grace_scanlon_model_TWSe.csv
notebooks/Upper_CO_Analysis/grace/timeseries_water_GRACE.csv
notebooks/Upper_CO_Analysis/grace/UCRB_GRACE_CORRECTED_FILTERED.csv
notebooks/Upper_CO_Analysis/landsat/get_landsat_imagery.py
notebooks/subset_M2TMNXLND_5.12.4_20221219_203407_.txt
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_aspect.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_dem_150m.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_huc4.json
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tfw
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tif.aux.xml
notebooks/Upper_CO_Analysis/basin_characteristics/riparian_veg.tif
notebooks/Upper_CO_Analysis/basin_characteristics/riparian_zone_1000m.tif
notebooks/Upper_CO_Analysis/basin_characteristics/riparian_zone.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_dem_32613_150m_4326.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_dem_32613_150m.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_huc06_co.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/clipped_ucrb_river_buffer_100m.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/clipped_ucrb_river_buffer_100m.qmd
notebooks/Upper_CO_Analysis/basin_characteristics/Colorado_River_Basin_Hydrological_Boundaries_with_Areas_served_by_Colorado_River.geojson
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_tree_cover_fraction_cleaned.tif
notebooks/Upper_CO_Analysis/basin_characteristics/ucrb_tree_cover_fraction.tif
notebooks/Upper_CO_Analysis/data_from_linuxbox/hcdn_basins.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/evap_MERRA2_diurnal_data.txt
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/evap_MERRA2_monthly_data.txt
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/HCDN_ET_ANOMALY_POINTS.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/HCDN_PET_ANOMALY_POINTS.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/subset_M2TMNXLND_5.12.4_20221219_203407_.txt
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/blue_mesa_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/blue_mesa_evaporation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/flaming_gorge_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/flaming_gorge_evapoation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/fontanelle_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/fontanelle_evaporation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/lake_powell_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/lake_powell_evaporation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/morrow_pt_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/morrow_pt_evaporation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/navajo_area.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/etdata/UCRB_large_res_evaporation/navajo_evaporation.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/basin_area_trees.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/basin_elevation_groups.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/basin_station_sntl.json
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/hcdn_all_basin_polygons.geojson
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/hcdn_basin_info.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/ucrb_5states_hillshade_150m.tif
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/ucrb_hcdn_huc4.json
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/ucrb_hcdn_merged_gages.geojson
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/ucrb_hcdn_snotels.geojson
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/archive/ucrb_hcdn_co_gdf_final.json
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/archive/ucrb_hcdn_co_polygons_final.json
notebooks/Upper_CO_Analysis/data_from_linuxbox/geodata/archive/ucrb_hcdn_stations.json
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-06A_WaterLevels_202303211716.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-25_WaterLevels_202303211717.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-27_WaterLevels_202303211717.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-34_WaterLevels_202303211717.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-37_WaterLevels_202303211717.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-38_WaterLevels_202303211716.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/CDSS_WS-43_WaterLevels_202303211717.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/groundwater_data/UCRB_Sub-Basins_SWB_model_output.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/UCRB_HCDN_CO_PRISM_ANNUAL_PRECIP.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/ucrb_hcdn_seasonal_prism_anomalies.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_01.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_02.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_03.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_04.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_05.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_06.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_07.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_08.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_09.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_10.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_11.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/precipdata/PDSI/pdsi_ucrb_12.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/colorado-headwaters-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/gunnison-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/san-juan-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/UCRB-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/upper-colorado-dolores-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/upper-colorado-lower-green-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/upper-colorado-upper-green-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/upper-colorado-white-yampa-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/snowdata/UCRB_basin_swe/upper-colordo-dirty-devil-swe.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/streamflowdata/hcdn_annual_q_info.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/streamflowdata/LF_NATURALIZED_FLOW.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/streamflowdata/ucrb_basin_q_p.csv
notebooks/Upper_CO_Analysis/data_from_linuxbox/streamflowdata/ucrb_hcdn_streamflow.csv
Upper_CO_Analysis/archive/ucrb_hcdn_polygons.json
Upper_CO_Analysis/basin_characteristics/clipped_ucrb_river_buffer_100m.geojson
Upper_CO_Analysis/basin_characteristics/clipped_ucrb_river_buffer_100m.qmd
Upper_CO_Analysis/basin_characteristics/Colorado_River_Basin_Hydrological_Boundaries_with_Areas_served_by_Colorado_River.geojson
Upper_CO_Analysis/basin_characteristics/Colorado_River_Basin_Rivers.geojson
Upper_CO_Analysis/basin_characteristics/et_table.csv
Upper_CO_Analysis/basin_characteristics/gz_2010_us_040_00_20m.json
Upper_CO_Analysis/basin_characteristics/hcdn_all_basin_polygons.geojson
Upper_CO_Analysis/basin_characteristics/hcdn_all_basin_polygons.qmd
Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_1.geojson
Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_1.qmd
Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_2.geojson
Upper_CO_Analysis/basin_characteristics/hcdn_basin_locations_2.qmd
Upper_CO_Analysis/basin_characteristics/hcdn_larger_basin_polygons_2.geojson
Upper_CO_Analysis/basin_characteristics/hcdn_larger_basin_polygons_2.qmd
Upper_CO_Analysis/basin_characteristics/hcdn_small_basin_polygons.geojson
Upper_CO_Analysis/basin_characteristics/hcdn_small_basin_polygons.qmd
Upper_CO_Analysis/basin_characteristics/riparian_zone_1000m.tif
Upper_CO_Analysis/basin_characteristics/riparian_zone.tif
Upper_CO_Analysis/basin_characteristics/ucrb_aspect.tif
Upper_CO_Analysis/basin_characteristics/ucrb_dem_150m.tif
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_huc4.json
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_merged_gages.geojson
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_merged_gages.qmd
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_snotels.geojson
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_snotels.qmd
Upper_CO_Analysis/basin_characteristics/ucrb_hcdn_stations.json
Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tfw
Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tif
Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_500m.tif.aux.xml
Upper_CO_Analysis/basin_characteristics/ucrb_hillshade_upsample.tif
Upper_CO_Analysis/basin_characteristics/ucrb_SNOTEL_locations.json
Upper_CO_Analysis/basin_characteristics/ucrb_tree_cover_fraction_cleaned.tif
Upper_CO_Analysis/basin_characteristics/ucrb_tree_cover_fraction.tif
Upper_CO_Analysis/basin_characteristics/Upper_Colorado_River_Basin_Boundary.json
Upper_CO_Analysis/grace/grace_scanlon_model_TWSe.csv
Upper_CO_Analysis/grace/timeseries_water_GRACE.csv
Upper_CO_Analysis/grace/UCRB_GRACE_CORRECTED_FILTERED.csv
Upper_CO_Analysis/basin_characteristics/prism_precip.tif
Upper_CO_Analysis/basin_characteristics/riparian_veg.tif
Upper_CO_Analysis/basin_characteristics/ucrb_dem_32613_150m_4326.tif
Upper_CO_Analysis/basin_characteristics/ucrb_dem_32613_150m.tif
Upper_CO_Analysis/basin_characteristics/ucrb_huc06_co.geojson
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_bas_classif.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_bas_morph.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_basinid.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_climate_ppt_annual.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_climate_tmp_annual.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_climate.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_flowrec.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_geology.txt
Upper_CO_Analysis/basin_characteristics/gagesII/conterm_hydromod_dams.txt
Upper_CO_Analysis/basin_characteristics/gagesII/gagesII_sept30_2011_var_desc.xlsx
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.dbf
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.prj
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.sbn
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.sbx
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.shp
Upper_CO_Analysis/basin_characteristics/gagesII/nonref_shapefile/bas_nonref_WestMnts.shx
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.dbf
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.prj
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.sbn
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.sbx
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.shp
Upper_CO_Analysis/basin_characteristics/gagesII/ref_shapefile/bas_ref_all.shx
